<footer class="footer">
	<div class="container cntnr-wide px2 py3">
    <div class="clearfix">
      <div class="sm-col mb1 sm-m0">
        <a href="https://18f.gsa.gov/">
          <img alt="18F" class="mr2 align-middle" width="48" src="{{ '/img/square-18f-dark.svg' | prepend: site.baseurl }}">
        </a>
        <a href="http://www.gsa.gov/portal/category/100000">
          <img alt="GSA" class="align-middle" width="48" src="{{ '/img/square-gsa-dark.svg' | prepend: site.baseurl }}">
        </a>
      </div>
      <div class="sm-col-right sm-right-align">
        <a class="inline-block py1" href="/">Contact 18F</a>
      </div>
    </div>
	</div>
</footer>
