<footer class="footer">
  <div class="container cntnr-wide px2 py3">
    <div class="clearfix">
      <div class="sm-col">
        <a class="mr2 inline-block" href="https://18f.gsa.gov/">
          <img alt="18F" class="align-middle" width="48" src="{{ '/img/square-18f-dark.svg' | prepend: site.baseurl }}">
        </a>
        <a class="inline-block" href="http://www.gsa.gov/portal/category/100000">
          <img alt="GSA" class="align-middle" width="48" src="{{ '/img/square-gsa-dark.svg' | prepend: site.baseurl }}">
        </a>
      </div>
    </div>
  </div>
</footer>
