<nav class="bg-white">
  <div class="container cntnr-wide px2 pt3 pb0 sm-py3">
    <div class="clearfix">
      <div class="sm-col center sm-left-align">
        <a class="inline-block" href="{{ '/' | prepend: site.baseurl }}">
          <img alt="login.gov" class="align-bottom" width="151" src="{{ '/img/logo.svg' | prepend: site.baseurl }}">
        </a>
        <h1 class="mt2 mb0 h3 red caps ls-5">
          Identity Playbook
        </h1>
      </div>
      <div class="sm-col-right mxn2 sm-mx0">
        <ul class="list-reset mt3 mb0 bg-red center pb-nav--top">
          {% assign url = page.url|remove:'index.html' %}
          {% for link in site.navigation %}
            <li class="inline-block {% if forloop.last != true %}border-right sm-mr3{% endif %}">
              <a class="p2 sm-p0 h5 block white {% if page.url == link.url %}active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
