<nav class="bg-white">
  <div class="container cntnr-wide px2 py3">
    <div class="clearfix">
      <div class="sm-col center sm-left-align">
        <a class="inline-block" href="{{ '/' | prepend: site.baseurl }}">
          <img alt="login.gov" class="align-bottom" width="151" src="{{ '/img/logo.svg' | prepend: site.baseurl }}">
        </a>
        <h1 class="mt2 mb0 h3 red caps ls-5">
          Identity Playbook
        </h1>
      </div>
      <div class="sm-col-right">
        <div class="sm-show pb-nav--top">
          {% assign url = page.url|remove:'index.html' %}
          {% for link in site.navigation %}
            <a class="{% if forloop.last != true %}mr3{% endif %} gray {% if page.url == link.url %}active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>
